html, body {
	margin: 0;
	font: 100%, Verdana, Geneva, sans-serif ;
	background: #663399; /* Beccapurple */
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(107, 107, 132);
}
body {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background-color: white;
	line-height: 1.8;
}
h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: rgb(83, 104, 138);
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}
pre {
	font-size: 1.4em;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid #A68048;
	background: #666;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 80%;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}

header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
blockquote {
	font-style: italic;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}

/* Navigation
----------------------*/
#main-menu ul{
	list-style-type: none;	
}

#main-menu ul li {
	display: inline;
	margin-right: 10px;
}

#main-menu ul li a{
	text-decoration: none;
	color: #990000;
}

#main-menu ul li a:hover{
	color: #EE0000;
}


/* Border of images
--------------------*/
#demo-border{
	border: solid black 2px;
	padding: 5px;
}

/* Demo Column
--------------------*/
.col-wide{
	width: 30%;
}
.col-narrow{
	width: 68%; /* Because image has margin-right 10px */
	float: left;
}

/* Demo box-sizing
----------------------*/
#demo-box-sizing-1{
	clear: both;
	width: 700px;
	height: 350px;
	box-sizing: content-box;
	padding: 20px;
	border: dashed 2px #555555;
}
#demo-box-sizing-2{
	clear: both;
	width: 700px;
	height: 350px;
	box-sizing: border-box;
	padding: 20px;
	border: dashed 2px #555555;
	margin-top: 20px;
}